Babel==2.15.0
docx2pdf==0.1.8
docxcompose==1.4.0
docxtpl==0.17.0
Jinja2==3.1.4
lxml==5.2.2
MarkupSafe==2.1.5
python-docx==1.1.2
setuptools==69.5.1
six==1.16.0
tkcalendar==1.6.1
tqdm==4.66.4
typing_extensions==4.11.0
